
<c0<%=old_href['component']%> <% if rh['series_flag'] %>level="<%=old_href['c0x level']%>"<% end %>>
  <did>
    <unittitle <%= old_href['label_series'] %>><%=old_href['unittitle']%>
      <unitdate type="inclusive"><%=old_href['unitdate']%></unitdate>
    </unittitle>
    <physloc><%=old_href['physloc']%></physloc>
    <container label="<%= old_href['container_label'] %>" type="<%= old_href['container_type'] %>"><%=old_href['number']%></container>
    <physdesc><%=old_href['physdesc']%></physdesc>
  </did>
  <scopecontent>
    <p><%=old_href['scopecontent']%></p>
  </scopecontent>
  <arrangement>
    <p/>
  </arrangement>
  <%= content %>
</c0<%= old_href['component'] %>>

