<?xml version="1.0"?>
<?xml-stylesheet href="http://ead.lib.virginia.edu/vivaead/published/document.xsl" type="text/xsl"?>
<!DOCTYPE ead SYSTEM "http://text.lib.virginia.edu/bin/dtd/eadVIVA/eadVIVA.dtd" [
<!ENTITY % xmlchar "INCLUDE">
<!ENTITY logo SYSTEM "http://ead.lib.virginia.edu/vivaead/logos/uva-sc.jpg" NDATA jpeg>
<!ENTITY conditions SYSTEM "http://www.lib.virginia.edu/speccol/vhp/conditions.html" NDATA html>
<!ENTITY address SYSTEM "http://ead.lib.virginia.edu/vivaead/add_con/uva-sc_address.xml">
<!ENTITY contact SYSTEM "http://ead.lib.virginia.edu/vivaead/add_con/uva-sc_contact.xml">
]>
<ead id="<%= coll_hr['num'] %>">
  <eadheader audience="internal" langencoding="iso639-2b" findaidstatus="edited-partial-draft">
    <eadid countrycode="US" mainagencycode="ViU">PUBLIC "-//University of Virginia::Library::Special Collections//TEXT (US::ViU::::A Guide to the <%= coll_hr['titleproper'] %>, )//EN" "<%= coll_hr['xml_name'] %>" </eadid>
    <filedesc>
      <titlestmt>
        <titleproper>
          A Guide to the <%= coll_hr['titleproper'] %>
          <date><%= coll_hr['collection_date'] %></date>
        </titleproper>
        <subtitle id="sort">
          <num type="collectionnumber"><%= coll_hr['num'] %></num>
        </subtitle>
      </titlestmt>
      <publicationstmt>
        <publisher>Special Collections, University of Virginia Library </publisher>
	&address;
        <date type="publication">2011 By the Rector and Visitors of the University of Virginia. All rights reserved. </date>
        <p id="usestatement">
	  <extref entityref="conditions">Conditions of Use </extref>
        </p>
      </publicationstmt>
    </filedesc>
    <profiledesc>
      <creation>
        Machine-readable finding aid created by uva_ss2ead/render_ss.rb, a Ruby script.
        <date/>
      </creation>
      <langusage>
        Description is in
        <language langcode="eng">English </language>
      </langusage>
    </profiledesc>
  </eadheader>
  <frontmatter>
    <titlepage>
      <titleproper>
        <%= coll_hr['titleproper'] %>
        <date><%= coll_hr['collection_date'] %></date>
      </titleproper>
      <subtitle>
        A Collection in
        <lb/>
        Special Collections
        <lb/>
        The University of Virginia Library
        <num type="Accession Number"><%= coll_hr['num'] %></num>
      </subtitle>
      <p id="logostmt">
        <extptr actuate="onload" show="embed" entityref="logo"/>
      </p>
      <publisher>Special Collections, University of Virginia Library </publisher>
      <date type="publication">2011</date>
      &contact;
      <list type="deflist">
        <defitem>
          <label>Processed by: </label>
          <item>Special Collections Staff </item>
        </defitem>
      </list>
    </titlepage>
  </frontmatter>
  <archdesc level="collection">
    <runner placement="footer">Special Collections, University of Virginia Library </runner>
    <did>
      <head>Descriptive Summary </head>
      <repository label="Repository" encodinganalog="852$a">Special Collections, University of Virginia Library </repository>
      <unittitle label="Title" encodinganalog="245$a">
	<%= coll_hr['titleproper'] %>
        <unitdate type="inclusive" label="Date" encodinganalog="245$f">
	  <%= coll_hr['collection_date'] %>
	</unitdate>
      </unittitle>
      <unitid label="Accession Number" encodinganalog="099$a">
	<%= coll_hr['num'] %>
      </unitid>
      <physloc label=""/>
      <physdesc label="Physical Characteristics" encodinganalog="300$a"/>
      <langmaterial label="Language">
        <language langcode="eng">English </language>
      </langmaterial>
      <% if ! coll_hr['creator'].empty? %>
      <origination label=“creator”><%= coll_hr['creator'] %>
      </origination>
      <% end %>
    </did>
    <descgrp type="admininfo">
      <head>Administrative Information </head>
      <accessrestrict encodinganalog="506$a">
        <head>Access Restrictions </head>
	<% if coll_hr['access_restrict'].empty? %>
        <p>There are no restrictions. </p>
	<% else %>
        <p><%= coll_hr['access_restrict'] %></p>
	<% end %>
      </accessrestrict>
      <userestrict encodinganalog="540$a">
        <head>Use Restrictions </head>
	<% if coll_hr['use_restrict'].empty? %>
        <p>There are no restrictions. </p>
	<% else %>
        <p><%= coll_hr['use_restrict'] %></p>
	<% end>
      </userestrict>
      <prefercite encodinganalog="524$a">
        <head>Preferred Citation </head>
        <p><%= coll_hr['titleproper'] %><% if ! coll_hr['collection_date'].to_s.empty? %> <%= coll_hr['collection_date'] %><% end %>, Accession #<%= coll_hr['num'] %>, Special Collections, University of Virginia Library, Charlottesville, Va. </p>
      </prefercite>
      <acqinfo encodinganalog="541$a">
        <head>Acquisition Information </head>
        <p><%= coll_hr['acq_info'] %></p>
      </acqinfo>
      <processinfo>
	<head>Processing Information</head>
	<p><%= coll_hr['process_info'] %></p>
      </processinfo>
    </descgrp>
    <bioghist encodinganalog="545$a">
      <head>Biographical/Historical Information </head>
      <p><%= coll_hr['bioghist'] %></p>
    </bioghist>
    <scopecontent encodinganalog="520$a">
      <head>Scope and Content </head>
      <p><%= coll_hr['guide_scope'] %></p>
    </scopecontent>
    <% if ! coll_hr['related_mats'].empty? %>
    <descgrp type=“add”>
      <head>Adjunct Descriptive Data</head>
      <relatedmaterial>
	<p><%= coll_hr['related_mats'] %></p>
      </relatedmaterial>
      <% end %>
    </descgrp>
    <arrangement encodinganalog="351">
      <head>Arrangement </head>
      <p><%= coll_hr['arrangement'] %></p>
    </arrangement>
    <dsc type="combined">
      <head>Contents List</head>
      <%= dsc %>
    </dsc>
  </archdesc>
</ead>
