<html>
  <head>
    <title>Spreadsheet to EAD converter</title>
  </head>
  <body>
<pre><%= @message %></pre>
    <table border="0" cellpadding="3" cellspacing="0">
      <tr>
	<td valign="top" colspan="3">
	  <% form_tag('upload', :method => 'post', :multipart => true) do %>
	    <label for="upload">Upload spreadsheeet</label> : 
	    <%= file_field_tag('upload') %>
	  <%= submit_tag "Upload" %>
	  <% end %>
	</td>
	<td valign="top" colspan="4" align="right">
	  <a href="ead_template.xlsx">Download empty spreadsheet (<%= @ss_date %>)</a>
	  <br>
	  <a href="readme.html">Documentation readme (<%= @readme_date %>)</a>
	  <br>
	  <a href="outer_template">Outer template</a>
	  <br>
	  <a href="inner_template">Inner template</a>
	  <br>
	</td>
      </tr>
      <tr>
	<td colspan="7">
	  <hr>
	</td>
      <tr>
	<td valign="bottom" align="center" colspan="3">Spreadsheet<hr></td>
	<td>&nbsp;&nbsp;</td>
	<td valign="bottom" align="center" colspan=3">EAD XML<hr></td>
      </tr>
      <tr>
	<td valign="bottom">File name<hr></td>
	<td valign="bottom">ComputingID<hr></td>
	<td valign="bottom">View / Convert
	  <br>
	  <a href="convert_all">Convert all</a>
	  <hr>
	</td>
	<td>&nbsp;&nbsp;</td>
	<td valign="bottom">File name<hr></td>
	<td valign="bottom">Last modified<hr></td>
	<td valign="bottom">View<hr></td>
      </tr>
      <%  @f_info.each { |rh| %>
      <tr bgcolor="<%= rh[:bgcolor] %>">
	<td valign="top">
	  <%= rh[:orig] %> 
	</td>
	<td valign="top">
	  <%= rh['computingID'] %>
	</td>
	<td valign="top">
	  <a href="show_ss?ss_name=<%= rh[:orig] %>">View</a>
	  | 
	  <a href="convert_ss?ss_name=<%= rh[:orig] %>">Convert</a>
	</td>
	<td>&nbsp;&nbsp;</td>
	<td valign="top">
	  <% if rh[:xml_exists] %>
	  <%= rh[:xml_fname] %>
	  <% end %>
	</td>
	<td valign="top">
	  <% if rh[:xml_exists] %>
	  <%= rh[:xml_mtime] %> 
	  <% end %>
	<td valign="top">
	  <% if rh[:xml_exists] %>
	  <a href="show_xml?xml_fname=<%= rh[:xml_fname] %>&type=html">as web page</a>
	  | <a href="show_xml?xml_fname=<%= rh[:xml_fname] %>&type=raw">raw XML text</a>
	  | <a href="show_xml?xml_fname=<%= rh[:xml_fname] %>&type=rendered">rendered XML text</a>
	  <% end %>
	</td>
	</td>
      </tr>
      <% } %>
      
    </table>
  </body>
</html>
